---
import Layout from "@/layouts/Layout.astro";
import projects from "@/data/projects";
import ProjectCard from "@/components/ProjectCard.astro";
---

<Layout title="Don Manuel - All Projects">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl text-neutral-100">Projects</h1>

    <article class="flex flex-col gap-8">
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        {projects.map((project) => <ProjectCard {...project} />)}
      </div>
    </article>
  </main>
</Layout>
